.container {
    display: flex;
    flex-direction: column;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: rgb(206, 182, 190);
    max-width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 3em;
    padding: 1em 2em;
    color: rgb(136, 67, 67);
    border-radius: 1.5em;
  }
  
  .input-group {
    width: 400px;
    margin-top: 1em;
  }
  #weather, #wind {
    margin-top: -0.8em;
    text-transform: capitalize;
  }
  #city {
    text-transform: capitalize;
    
  }
  h1 {
    color: rgb(139, 69, 172);
  }
  .degree {
    padding-left: 0.5em;
    color: rgb(139, 69, 172);
    font-size: 5em;
    margin-top: -0.4em;
  }
  .wea {
    font-size: 2em;
  }
  hr {
    margin-left: 0.4em;
  }
  .letters {
    font-size: 0.5em;
  }
  a {
    text-decoration: none;
  }
  form {
    display: flex;
  }
  #button-Up {
    margin-left: 0.6em;
  }
  .source {
    text-align: center;
    margin-bottom: 0;
    margin-left: -2em;
  }
  .the-forecast {
    text-align: center;
  }
  /* .rows {
    display: flex;
    margin-left: 1.9em;
    justify-content: space-around;
    max-width: ;
    max-height: ;
  } */